@media (min-width: 992px) {
    .product-container .product-image-container img {
        backface-visibility: hidden;
    }
    .product-container .product-image-container img {
        -webkit-backface-visibility: hidden;
    }
    [class~=product-container] [class~=product-image-container] [class~=product_img_link] {
        display: block;
    }
    [class~=product-container]:hover [class~=box-buttons],
    [class~=product-container]:hover [class~=product-image-container] [class~=product_img_link]:before {
        visibility: visible;
    }
    [class~=dropdown-menu] {
        animation: animationmenus ease .5s;
    }
    .blog-detail-full .quotes:before,
    [class~=product-container] [class~=product-image-container] [class~=product_img_link]:before {
        position: absolute;
    }
    .product-container .product-image-container img {
        -moz-backface-visibility: hidden;
    }
    [class~=product-container] [class~=product-image-container] [class~=product_img_link] {
        position: relative;
    }
    [class~=product-container] [class~=product-image-container] [class~=product_img_link]:before {
        content: "";
    }
    [class~=rtl] [class~=product-container] [class~=box-buttons] {
        left: -40px;
    }
    [class~=product-container] [class~=product-image-container] [class~=product_img_link]:before {
        top: 0;
    }
    [class~=dropdown-menu] {
        animation-iteration-count: 1;
    }
    [class~=product-container] [class~=product-image-container] [class~=product_img_link]:before {
        left: 0;
    }
    [class~=product-container] [class~=product-image-container] [class~=product_img_link]:before {
        right: 0;
    }
    [class~=product-container] [class~=product-image-container] [class~=product_img_link]:before {
        width: 100%;
    }
    [class~=product-container] [class~=product-image-container] [class~=product_img_link]:before {
        height: 100%;
    }
    [class~=dropdown-menu] {
        transform-origin: 50% 50%;
    }
    .product-container .product-image-container img {
        -ms-backface-visibility: hidden;
    }
    [class~=dropdown-menu] {
        animation-fill-mode: forwards;
    }
    .blog-detail-full .quotes:before,
    [class~=product-container] [class~=product-image-container] [class~=product_img_link]:before {
        z-index: 1;
    }
    [class~=product-container] [class~=box-buttons],
    [class~=blog-detail-full] [class~=quotes] p {
        z-index: 2;
    }
    .product-container .product-image-container img {
        -o-backface-visibility: hidden;
    }
    [class~=product-container] [class~=box-buttons],
    [class~=product-container] [class~=product-image-container] [class~=product_img_link]:before {
        visibility: hidden;
    }
    .product-container .product-image-container img {
        -webkit-transition: opacity 1s, transform 1s;
    }
    [class~=dropdown-menu] {
        -webkit-animation: animationmenus ease .5s;
    }
    .product-container .product-image-container img {
        transition: opacity 1s, transform 1s;
    }
    [class~=dropdown-menu] {
        -webkit-animation-iteration-count: 1;
    }
    [class~=product-container] [class~=box-buttons] {
        right: -30pt;
    }
    [class~=product-container] [class~=product-image-container] [class~=product_img_link]:before {
        background-color: #333;
    }
    .blog-detail-full .quotes:before {
        content: "ï„";
    }
    [class~=dropdown-menu] {
        -webkit-transform-origin: 50% 50%;
    }
    [class~=product-container] [class~=product-image-container] [class~=product_img_link]:before {
        background-color: rgba(51, 51, 51, .3);
    }
    [class~=product-container]:hover [class~=product-image-container] [class~=product_img_link]:before {
        opacity: 1;
    }
    [class~=product-container] [class~=box-buttons] {
        -webkit-transition: all .5s ease 0s;
    }
    [class~=product-container]:hover [class~=product-image-container] [class~=product_img_link]:before {
        filter: alpha(opacity=100);
    }
    [class~=dropdown-menu] {
        -webkit-animation-fill-mode: forwards;
    }
    [class~=product-container] [class~=box-buttons] {
        transition: all .5s ease 0s;
    }
    [class~=section] [class~=des-text] {
        padding-left: 161.25pt;
    }
    [class~=dropdown-menu] {
        -moz-animation: animationmenus ease .5s;
    }
    [class~=product-container] [class~=product-image-container] [class~=product_img_link]:before {
        background-color: transparent;
    }
    [class~=rtl] [class~=product-container] [class~=box-buttons],
    [class~=rtl] [class~=product-container]:hover [class~=box-buttons] {
        right: auto;
    }
    .blog-detail-full .quotes:before {
        top: 26.25pt;
    }
    .blog-detail-full .quotes:before {
        font-family: "FontAwesome";
    }
    [class~=dropdown-menu] {
        -moz-animation-iteration-count: 1;
    }
    [class~=product-container] [class~=product-image-container] [class~=product_img_link]:before {
        zoom: 1;
    }
    [class~=dropdown-menu] {
        -moz-transform-origin: 50% 50%;
    }
    [class~=dropdown-menu] {
        -moz-animation-fill-mode: forwards;
    }
    .blog-detail-full .quotes:before {
        font-size: 50px;
    }
    [class~=dropdown-menu] {
        -o-animation: animationmenus ease .5s;
    }
    [class~=product-container]:hover [class~=box-buttons] {
        right: 15px;
    }
    [class~=dropdown-menu] {
        -o-animation-iteration-count: 1;
    }
    .blog-detail-full .quotes:before {
        color: #ebebeb;
    }
    [class~=product-container] [class~=product-image-container] [class~=product_img_link]:before {
        opacity: 0;
    }
    [class~=section] [class~=des-text] {
        padding-bottom: .3125in;
    }
    .blog-detail-full .quotes:before {
        left: 3.125pc;
    }
    [class~=home-2] [class~=testimoniol-items] [class~=item],
    [class~=home-3] [class~=testimoniol-items] [class~=item] {
        padding-left: 1.770833333in;
    }
    [class~=rtl] [class~=product-container]:hover [class~=box-buttons] {
        left: .9375pc;
    }
    [class~=blog-detail-full] [class~=quotes] p {
        font-size: 1.125pc;
    }
    [class~=dropdown-menu] {
        -o-transform-origin: 50% 50%;
    }
    [class~=dropdown-menu] {
        -o-animation-fill-mode: forwards;
    }
    [class~=product-container] [class~=product-image-container] [class~=product_img_link]:before {
        filter: alpha(opacity=0);
    }
    [class~=dropdown-menu] {
        -ms-animation: animationmenus ease .5s;
    }
    [class~=blog-detail-full] [class~=quotes] p {
        line-height: 30px;
    }
    [class~=blog-detail-full] [class~=quotes] p {
        position: relative;
    }
    [class~=dropdown-menu] {
        -ms-animation-iteration-count: 1;
    }
    [class~=section] [class~=des-text] {
        padding-right: 161.25pt;
    }
    [class~=dropdown-content],
    [class~=dropdown-menu] {
        -ms-transform-origin: 50% 50%;
    }
    [class~=product-container] [class~=product-image-container] [class~=product_img_link]:before {
        -webkit-transition: all .4s;
    }
    [class~=product-container] [class~=product-image-container] [class~=product_img_link]:before {
        transition: all .4s;
    }
    [class~=section] [class~=des-text] {
        padding-top: 0;
    }
    [class~=blog-detail-full] [class~=post-content] {
        padding-left: 1.041666667in;
    }
    [class~=blog-detail-full] [class~=post-content] {
        padding-bottom: 3.125pc;
    }
    [class~=home-2] [class~=testimoniol-items] [class~=item] {
        padding-bottom: 3.75pc;
    }
    [class~=blog-detail-full] [class~=post-content] {
        padding-right: 1.041666667in;
    }
    [class~=dropdown-content],
    [class~=dropdown-menu] {
        -ms-animation-fill-mode: forwards;
    }
    [class~=blog-detail-full] [class~=quotes] p {
        margin-bottom: 0;
    }
    [class~=blog-detail-full] [class~=post-content] {
        padding-top: 3.125pc;
    }
    [class~=blog-detail-full] [class~=quotes] p {
        font-family: "Poppins", sans-serif;
    }
    [class~=product-container]:hover [class~=product-image-container] img {
        opacity: 1;
    }
    [class~=dropdown-content] {
        animation: animationmenus ease .5s;
    }
    [class~=product-container]:hover [class~=product-image-container] img {
        filter: alpha(opacity=100);
    }
    [class~=blog-detail-full] [class~=quotes] {
        margin-left: 75pt;
    }
    [class~=product-container]:hover [class~=product-image-container] img {
        -webkit-transform: scale3d(1.1, 1.1, 1);
    }
    [class~=dropdown-content] {
        animation-iteration-count: 1;
    }
    [class~=product-container]:hover [class~=product-image-container] img {
        -moz-transform: scale3d(1.1, 1.1, 1);
    }
    [class~=product-container]:hover [class~=product-image-container] img {
        -ms-transform: scale3d(1.1, 1.1, 1);
    }
    [class~=home-2] [class~=testimoniol-items] [class~=item],
    [class~=home-3] [class~=testimoniol-items] [class~=item] {
        padding-right: 1.770833333in;
    }
    [class~=blog-detail-full] [class~=quotes] {
        margin-bottom: 37.5pt;
    }
    [class~=dropdown-content] {
        transform-origin: 50% 50%;
    }
    [class~=home-2] [class~=testimoniol-items] [class~=item] {
        padding-top: 3.75pc;
    }
    [class~=dropdown-content] {
        animation-fill-mode: forwards;
    }
    [class~=product-container]:hover [class~=product-image-container] img {
        -o-transform: scale3d(1.1, 1.1, 1);
    }
    [class~=blog-detail-full] [class~=quotes] {
        margin-right: 75pt;
    }
    [class~=home-3] [class~=testimoniol-items] [class~=item] {
        padding-bottom: 1.875pc;
    }
    [class~=dropdown-content] {
        -webkit-animation: animationmenus ease .5s;
    }
    [class~=dropdown-content] {
        -webkit-animation-iteration-count: 1;
    }
    [class~=tiva-popup-screen] [class~=popup] input[type="text"] {
        width: 25pc;
    }
    [class~=blog-detail-full] [class~=quotes] {
        margin-top: 37.5pt;
    }
    [class~=dropdown-content] {
        -webkit-transform-origin: 50% 50%;
    }
    [class~=dropdown-content] {
        -webkit-animation-fill-mode: forwards;
    }
    [class~=dropdown-content] {
        -moz-animation: animationmenus ease .5s;
    }
    [class~=dropdown-content] {
        -moz-animation-iteration-count: 1;
    }
    [class~=blog-detail-full] [class~=quotes] {
        padding-left: 52.5pt;
    }
    [class~=dropdown-content] {
        -moz-transform-origin: 50% 50%;
    }
    [class~=dropdown-content] {
        -moz-animation-fill-mode: forwards;
    }
    [class~=dropdown-content] {
        -o-animation: animationmenus ease .5s;
    }
    [class~=dropdown-content] {
        -o-animation-iteration-count: 1;
    }
    [class~=blog-detail-full] [class~=quotes] {
        padding-bottom: .416666667in;
    }
    [class~=dropdown-content] {
        -o-transform-origin: 50% 50%;
    }
    [class~=dropdown-content] {
        -o-animation-fill-mode: forwards;
    }
    [class~=home-3] [class~=testimoniol-items] [class~=item] {
        padding-top: 1.875pc;
    }
    [class~=dropdown-content] {
        -ms-animation: animationmenus ease .5s;
    }
    [class~=dropdown-content] {
        -ms-animation-iteration-count: 1;
    }
    [class~=blog-detail-full] [class~=quotes] {
        padding-right: 52.5pt;
    }
    [class~=blog-detail-full] [class~=quotes] {
        padding-top: .416666667in;
    }
    [class~=blog-detail-full] [class~=quotes] {
        position: relative;
    }
    [class~=blog-detail-full] [class~=quotes] {
        background-color: #f8f8f8;
    }
    .we-are .quote {
        margin-left: 52.5pt;
    }
    .we-are .quote {
        margin-bottom: 3.75pc;
    }
    .we-are .quote {
        margin-right: 52.5pt;
    }
    .we-are .quote {
        margin-top: 3.75pc;
    }
}

@media (max-width: 1400px) {
    [class~=home-1] #main-nav>ul>li>a {
        padding-left: 9.75pt;
    }
    [class~=home-1] #main-nav>ul>li>a,
    [class~=home-3] #main-nav>ul>li>a {
        padding-bottom: 0;
    }
    [class~=home-1] #main-nav>ul>li>a {
        padding-right: 9.75pt;
    }
    [class~=home-3] #main-nav>ul>li>a,
    [class~=home-1] #main-nav>ul>li>a {
        padding-top: 0;
    }
    .tiva-slideshow-wrapper .tiva-caption {
        top: 30%;
    }
    [class~=home-3] #main-nav>ul>li>a {
        padding-left: 6pt;
    }
    [class~=home-3] #main-nav>ul>li>a {
        padding-right: 30px;
    }
}

@media (max-width: 1199px) and (min-width: 992px) {
    #thumbs_list {
        width: 3.90625in;
    }
}

@media (max-width: 1024px) {
    [class~=home-2] [class~=tiva-slideshow-wrapper] [class~=tiva-caption] [class~=tiva-caption-lr] {
        width: 42%;
    }
    #main-nav>ul>li>a {
        padding-left: .625pc;
    }
    [class~=rtl] [class~=home-3] [class~=topheader-navholder] [class~=logo],
    [class~=home-3] #main-nav>ul>li[class~=margin-right-160] {
        margin-right: 0;
    }
    #main-nav>ul>li>a {
        padding-bottom: .625pc;
    }
    [class~=home-3] [class~=topheader-navholder] [class~=logo],
    [class~=rtl] [class~=home-3] #main-nav>ul>li[class~=margin-right-160] {
        margin-left: 0;
    }
    [class~=about-us] {
        padding-right: 0;
    }
    [class~=home-3] #main-nav {
        margin-left: 75pt;
    }
    [class~=rtl] [class~=block-cart] [class~=dropdown-title] {
        padding-left: 0;
    }
    [class~=dropdown-over] [class~=dropdown-title],
    [class~=block-cart] [class~=dropdown-title],
    [class~=rtl] [class~=block-cart] [class~=dropdown-title] {
        padding-bottom: 3pt;
    }
    [class~=dropdown-over] [class~=dropdown-title] {
        padding-left: 3.75pt;
    }
    #main-nav>ul>li>a {
        padding-right: .625pc;
    }
    [class~=rtl] [class~=home-3] #main-nav,
    [class~=rtl] [class~=home-3] [class~=topheader-navholder] [class~=logo] {
        margin-left: inherit;
    }
    [class~=rtl] [class~=block-cart] [class~=dropdown-title] {
        padding-right: .4375pc;
    }
    [class~=dropdown-over] [class~=dropdown-title] {
        padding-right: 3.75pt;
    }
    [class~=home-2] [class~=tiva-slideshow-wrapper] [class~=tiva-caption],
    [class~=rtl] [class~=home-3] [class~=topheader-navholder] [class~=logo] {
        right: 0;
    }
    [class~=block-cart] [class~=dropdown-title],
    [class~=rtl] [class~=block-cart] [class~=dropdown-title],
    [class~=dropdown-over] [class~=dropdown-title] {
        padding-top: 5px;
    }
    #main-nav>ul>li>a {
        padding-top: .625pc;
    }
    [class~=home-2] [class~=tiva-slideshow-wrapper] [class~=tiva-caption] {
        top: 6%;
    }
    [class~=rtl] [class~=home-3] [class~=topheader-navholder] [class~=logo] {
        left: auto;
    }
    [class~=rtl] [class~=home-3] #main-nav {
        margin-right: 100px;
    }
    [class~=rtl] [class~=home-3] #main-nav>ul>li[class~=margin-right-160] {
        margin-right: inherit;
    }
    [class~=block-cart] [class~=dropdown-title] {
        padding-left: .4375pc;
    }
    [class~=block-cart] [class~=dropdown-title] {
        padding-right: 0;
    }
    [class~=blog-author] [class~=author-content] {
        padding-left: 7.5pt;
    }
    [class~=home-3] [class~=topheader-navholder] [class~=logo],
    [class~=home-2] [class~=tiva-slideshow-wrapper] [class~=tiva-caption] {
        left: 0;
    }
    [class~=blog-author] [class~=author-content] {
        padding-bottom: .208333333in;
    }
    [class~=blog-author] [class~=author-content] {
        padding-right: 7.5pt;
    }
    [class~=blog-author] [class~=author-content] {
        padding-top: .208333333in;
    }
    [class~=contact-form] [class~=contact-des] {
        padding-left: 0;
    }
    [class~=contact-form] [class~=contact-des] {
        padding-bottom: 0;
    }
    [class~=contact-form] [class~=contact-des] {
        padding-right: 0;
    }
    [class~=contact-form] [class~=contact-des] {
        padding-top: 0;
    }
    [class~=rtl] [class~=about-us] {
        padding-left: 0;
    }
    [class~=rtl] [class~=about-us] {
        padding-right: inherit;
    }
}

@media screen and (max-width: 991px) {
    [class~=rtl] [class~=home-1] [class~=header_user_info] [class~=dropdown-title]:before {
        left: 7.5pt;
    }
    [class~=rtl] [class~=block-newsletter] [class~=title_block] {
        margin-left: 0;
    }
    [class~=rtl] [class~=home-1] [class~=header-main] [class~=block-search] {
        margin-right: .15625in;
    }
    [class~=rtl] [class~=home-1] [class~=header_user_info] [class~=dropdown-title]:before,
    [class~=rtl] [class~=home-1] [class~=tiva-slideshow-wrapper] [class~=tiva-caption] {
        right: auto;
    }
    [class~=home-1] [class~=header_user_info] [class~=dropdown-title],
    [class~=block-newsletter] [class~=title_block] {
        display: block;
    }
    [class~=block-newsletter] [class~=title_block] {
        margin-bottom: 11.25pt;
    }
    [class~=home-1] #btn-menu,
    [class~=home-1] [class~=header_user_info] ul li {
        padding-left: 0;
    }
    [class~=block-newsletter] [class~=title_block] {
        margin-right: 0;
    }
    [class~=home-1] [class~=header_user_info] ul li,
    [class~=home-1] #btn-menu {
        padding-bottom: 0;
    }
    [class~=page-checkout] [class~=panel-default]>[class~=panel-heading],
    [class~=home-1] [class~=section-banner] [class~=tv-tablecell] [class~=block-html] h4 {
        font-size: .166666667in;
    }
    [class~=home-1] [class~=logo] {
        text-align: left;
    }
    [class~=home-1] #btn-menu,
    [class~=home-1] [class~=header_user_info] ul li {
        padding-right: 0;
    }
    [class~=home-1] [class~=header_user_info] [class~=dropdown-title]:before {
        color: #999;
    }
    [class~=home-1] [class~=section-banner] [class~=tv-tablecell] [class~=block-html] h4 {
        margin-bottom: .3125pc;
    }
    [class~=home-1] [class~=header_user_info] [class~=dropdown-title]:before {
        content: "ï„‡";
    }
    [class~=home-1] #btn-menu,
    [class~=home-1] [class~=header_user_info] ul li {
        padding-top: 0;
    }
    .home-1 .section-banner .tv-tablecell .block-html h3 {
        font-size: 26px;
    }
    [class~=rtl] [class~=home-1] [class~=header-main] [class~=block-search],
    [class~=rtl] [class~=home-3] #btn-menu {
        margin-left: inherit;
    }
    [class~=home-2] [class~=topheader-navholder] {
        margin-top: 0;
    }
    [class~=rtl] [class~=home-1] [class~=header_user_info] [class~=dropdown-title] {
        padding-left: 18.75pt;
    }
    [class~=rtl] [class~=block-newsletter] [class~=title_block] {
        margin-right: inherit;
    }
    [class~=home-2] [class~=topheader-navholder] {
        border-left-width: medium;
    }
    [class~=home-1] [class~=header_user_info] [class~=dropdown-title]:before {
        position: absolute;
    }
    [class~=home-2] [class~=topheader-navholder] {
        border-bottom-width: medium;
    }
    [class~=home-3] #btn-menu,
    [class~=home-1] #btn-menu {
        line-height: 100px;
    }
    [class~=home-1] [class~=header_user_info] [class~=dropdown-title],
    [class~=rtl] [class~=home-1] [class~=header_user_info] [class~=dropdown-title] {
        padding-bottom: .125in;
    }
    [class~=rtl] [class~=home-1] [class~=logo] {
        text-align: right;
    }
    [class~=home-1] [class~=header_user_info] [class~=dropdown-title]:before {
        top: .135416667in;
    }
    [class~=home-2] #btn-menu {
        float: right;
    }
    [class~=home-3] #btn-menu {
        padding-left: 3.75pt;
    }
    [class~=rtl] [class~=home-1] [class~=header_user_info] [class~=dropdown-title] {
        padding-right: 7px;
    }
    [class~=home-1] [class~=header_user_info] [class~=dropdown-title],
    [class~=rtl] [class~=home-1] [class~=header_user_info] [class~=dropdown-title] {
        padding-top: 9pt;
    }
    [class~=home-1] [class~=section-banner] [class~=tv-tablecell] [class~=block-html],
    [class~=home-3] #btn-menu {
        padding-bottom: 0;
    }
    [class~=home-1] [class~=header_user_info] [class~=dropdown-title]:before {
        font-family: "FontAwesome";
    }
    .home-1 .section-banner .tv-tablecell .block-html h3 {
        line-height: 1.625pc;
    }
    [class~=home-1] [class~=section-banner] [class~=tv-tablecell] [class~=block-html] {
        padding-left: .3125in;
    }
    [class~=home-2] [class~=topheader-navholder] {
        border-right-width: medium;
    }
    [class~=logo] {
        margin-bottom: 7.5pt;
    }
    [class~=home-1] [class~=header-main] [class~=block-search] {
        margin-left: .9375pc;
    }
    [class~=home-1] [class~=section-banner] [class~=tv-tablecell] [class~=block-html] {
        padding-right: .3125in;
    }
    [class~=home-2] [class~=topheader-navholder] {
        border-top-width: medium;
    }
    [class~=home-3] #btn-menu,
    [class~=home-1] [class~=section-banner] [class~=tv-tablecell] [class~=block-html] {
        padding-top: 0;
    }
    [class~=rtl] [class~=home-1] [class~=tiva-slideshow-wrapper] [class~=tiva-caption] {
        left: 50%;
    }
    .rtl .home-2 #btn-menu {
        float: left;
    }
    [class~=home-2] [class~=topheader-navholder] {
        border-left-style: none;
    }
    [class~=home-1] [class~=header_user_info] [class~=dropdown-title] {
        padding-left: .072916667in;
    }
    [class~=home-2] [class~=topheader-navholder] {
        border-bottom-style: none;
    }
    [class~=home-2] [class~=topheader-navholder] {
        border-right-style: none;
    }
    [class~=rtl] [class~=home-3] #btn-menu {
        margin-right: 11.25pc;
    }
    [class~=home-3] #btn-menu {
        padding-right: 3.75pt;
    }
    [class~=home-2] [class~=topheader-navholder] {
        border-top-style: none;
    }
    [class~=home-1] [class~=header_user_info] [class~=dropdown-title] {
        padding-right: 25px;
    }
    [class~=home-1] [class~=header_user_info] ul li {
        line-height: 2pc;
    }
    [class~=home-3] #btn-menu {
        color: #ffffff;
    }
    [class~=home-3] #btn-menu {
        margin-left: 1.875in;
    }
    [class~=home-2] [class~=topheader-navholder] {
        border-left-color: currentColor;
    }
    [class~=pb-centercolumn] {
        margin-top: 22.5pt;
    }
    [class~=home-2] [class~=topheader-navholder] {
        border-bottom-color: currentColor;
    }
    [class~=home-1] [class~=header_user_info] ul li,
    #btn-menu {
        display: block;
    }
    [class~=home-2] [class~=topheader-navholder] {
        border-right-color: currentColor;
    }
    .btn-join {
        margin-top: .208333333in;
    }
    [class~=rtl] [class~=home-3] #main-nav {
        margin-right: 0;
    }
    [class~=home-3] #main-nav {
        margin-left: 0;
    }
    [class~=home-2] [class~=topheader-navholder] {
        border-top-color: currentColor;
    }
    .btn-join {
        float: none;
    }
    [class~=home-1] [class~=tiva-slideshow-wrapper] [class~=tiva-caption] {
        top: 10%;
    }
    [class~=rtl] [class~=home-3] #main-nav {
        margin-left: inherit;
    }
    [class~=home-1] [class~=tiva-slideshow-wrapper] [class~=tiva-caption] {
        right: 50%;
    }
    [class~=home-2] [class~=topheader-navholder] {
        border-image: none;
    }
    [class~=home-1] [class~=header_user_info] [class~=dropdown-title]:before {
        right: 10px;
    }
    #top-header #main-nav {
        display: none !important;
    }
    [class~=home-1] #top-header[class~=fixed] #btn-menu {
        line-height: 80px;
    }
    [class~=home-1] [class~=section-banner] [class~=tv-tablecell] [class~=block-html] [class~=btn] {
        margin-top: 0;
    }
    [class~=home-1] [class~=header_user_info] ul li:after {
        content: none;
    }
}

@media (max-width: 767px) {
    [class~=sidebar] [class~=block] h4:after,
    .footer-block h4:after,
    .home-1 .header_user_info .dropdown-title,
    [class~=home-1] [class~=section-banner] [class~=tv-tablecell] {
        display: block;
    }
    [class~=sidebar] [class~=block] h4:after,
    .footer-block h4:after {
        content: "ï•";
    }
    [class~=comments-form] [class~=form-group] [class~=input-email] {
        margin-bottom: 1.5625pc;
    }
    [class~=sidebar] [class~=block] h4:after,
    .footer-block h4:after {
        font-family: "FontAwesome";
    }
    [class~=sidebar] [class~=block] h4:after,
    .footer-block h4:after {
        position: absolute;
    }
    [class~=footer-copyright] [class~=payment] img {
        display: inline-block;
    }
    .sidebar .block h4,
    [class~=footer-block] h4 {
        position: relative;
    }
    [class~=page-not404] [class~=page-not-found] [class~=page-not-des],
    [class~=home-3] [class~=section-bestsellers] {
        padding-left: 0;
    }
    [class~=tiva-popup-screen] [class~=popup] {
        width: 80%;
    }
    .footer-block h4:after,
    [class~=sidebar] [class~=block] h4:after {
        top: 0;
    }
    [class~=sidebar] [class~=block] h4:after,
    .footer-block h4:after,
    [class~=footer-copyright] {
        text-align: center;
    }
    [class~=sidebar] [class~=block] h4:after,
    .footer-block h4:after {
        width: .260416667in;
    }
    [class~=footer-copyright] [class~=payment] {
        float: none;
    }
    [class~=home-1] [class~=section-banner] [class~=tv-tablecell],
    [class~=footer-copyright] [class~=payment] {
        width: 100%;
    }
    [class~=footer-copyright] [class~=payment] {
        margin-top: 11.25pt;
    }
    [class~=page-not404] [class~=page-not-found] [class~=page-not-des],
    [class~=home-3] [class~=section-bestsellers] {
        padding-bottom: 0;
    }
    .footer-block h4:after,
    [class~=sidebar] [class~=block] h4:after {
        cursor: pointer;
    }
    [class~=home-3] [class~=section-prolist] {
        padding-top: 3.75pc;
    }
    [class~=page-not404] [class~=page-not-found] [class~=page-not-des],
    [class~=home-3] [class~=section-bestsellers] {
        padding-right: 0;
    }
    [class~=sidebar] [class~=block] h4:after,
    .footer-block h4:after {
        font-size: 13.5pt;
    }
    [class~=page-not404] [class~=page-not-found] [class~=page-not-des] {
        padding-top: 0;
    }
    .footer-block h4:after,
    [class~=sidebar] [class~=block] h4:after {
        line-height: 20.25pt;
    }
    [class~=home-3] [class~=section-bestsellers] {
        padding-top: 60px;
    }
    #footer [class~=title_block] {
        margin-bottom: 15px;
    }
    [class~=home-1] [class~=section-banner] [class~=tv-tablecell] [class~=block-html] {
        padding-left: .3125in;
    }
    .footer-block h4:after,
    [class~=sidebar] [class~=block] h4:after {
        right: 0;
    }
    [class~=home-1] [class~=section-banner] [class~=tv-tablecell] [class~=block-html] {
        padding-bottom: .3125in;
    }
    [class~=rtl] [class~=sidebar] [class~=block] h4:after,
    .rtl .footer-block h4:after {
        left: 0;
    }
    [class~=home-1] [class~=section-banner] [class~=tv-tablecell] [class~=block-html] {
        padding-right: .3125in;
    }
    [class~=home-1] [class~=section-banner] [class~=tv-tablecell] [class~=block-html] {
        padding-top: .3125in;
    }
    [class~=home-3] [class~=banner-item] {
        margin-top: .208333333in;
    }
    [class~=rtl] [class~=sidebar] [class~=block] h4:after,
    .rtl .footer-block h4:after {
        right: auto;
    }
    [class~=sidebar] [class~=block] h4[class~=active]:after,
    [class~=footer-block] h4[class~=active]:after {
        content: "ï–";
    }
    #footer [class~=block-keep] {
        margin-bottom: 1.875pc;
    }
}

@media (max-width: 640px) {
    .tabs-top .nav-tabs.nav>li>a {
        text-align: left;
    }
    [class~=tabs-top] [class~=nav-tabs][class~=nav]>li[class~=active]>a,
    .tabs-top .nav-tabs.nav>li>a {
        border-bottom-width: .010416667in;
    }
    [class~=tabs-top] [class~=nav-tabs][class~=nav]>li,
    [class~=tabs-top] [class~=nav-tabs][class~=nav] {
        padding-left: 0;
    }
    [class~=tabs-top] [class~=nav-tabs][class~=nav]>li,
    [class~=tabs-top] [class~=nav-tabs][class~=nav] {
        padding-bottom: 0;
    }
    [class~=tabs-top] [class~=nav-tabs][class~=nav],
    [class~=tabs-top] [class~=nav-tabs][class~=nav]>li {
        padding-right: 0;
    }
    .tabs-top .nav-tabs.nav>li>a,
    [class~=tabs-top] [class~=nav-tabs][class~=nav]>li[class~=active]>a {
        border-bottom-style: solid;
    }
    .tabs-top .nav-tabs.nav>li>a,
    [class~=tabs-top] [class~=nav-tabs][class~=nav],
    [class~=tabs-top] [class~=nav-tabs][class~=nav]>li[class~=active]>a {
        border-bottom-color: #eaeaea;
    }
    [class~=tabs-top] [class~=nav-tabs][class~=nav]>li[class~=active]>a,
    .tabs-top .nav-tabs.nav>li>a {
        border-image: none;
    }
    [class~=tabs-top] [class~=nav-tabs][class~=nav]>li,
    [class~=tabs-top] [class~=nav-tabs][class~=nav] {
        padding-top: 0;
    }
    [class~=tabs-top] [class~=nav-tabs][class~=nav]>li {
        display: inline;
    }
    [class~=tabs-top] [class~=nav-tabs][class~=nav]>li,
    [class~=tabs-top] [class~=nav-tabs][class~=nav],
    .tabs-top .nav-tabs.nav>li>a,
    [class~=tabs-top][class~=accordion-info] [class~=nav-tabs] {
        margin-left: 0;
    }
    [class~=tabs-top] [class~=nav-tabs][class~=nav] {
        margin-bottom: 30px;
    }
    [class~=tabs-top][class~=accordion-info] [class~=nav-tabs],
    [class~=tabs-top] [class~=nav-tabs][class~=nav]>li,
    .tabs-top .nav-tabs.nav>li>a,
    [class~=tabs-top] [class~=nav-tabs][class~=nav] {
        margin-right: 0;
    }
    [class~=tabs-top] [class~=nav-tabs][class~=nav] {
        margin-top: 30px;
    }
    .block-newsletter form,
    [class~=tabs-top] [class~=nav-tabs][class~=nav]>li {
        width: 100%;
    }
    .tabs-top .nav-tabs.nav>li>a {
        padding-left: .625pc;
    }
    .tabs-top .nav-tabs.nav>li>a {
        padding-bottom: .625pc;
    }
    [class~=tabs-top] [class~=nav-tabs][class~=nav] {
        border-left-width: .010416667in;
    }
    [class~=tabs-top] [class~=nav-tabs][class~=nav],
    [class~=tabs-top] [class~=nav-tabs][class~=nav]>li:last-child>a {
        border-bottom-width: .010416667in;
    }
    .tabs-top .nav-tabs.nav>li>a {
        padding-right: .625pc;
    }
    [class~=tabs-top] [class~=nav-tabs][class~=nav] {
        border-right-width: .010416667in;
    }
    .tabs-top .nav-tabs.nav>li>a {
        padding-top: .625pc;
    }
    [class~=tabs-top] [class~=nav-tabs][class~=nav] {
        border-top-width: .010416667in;
    }
    [class~=tabs-top] [class~=nav-tabs][class~=nav] {
        border-left-style: solid;
    }
    [class~=tabs-top][class~=accordion-info] [class~=nav-tabs],
    .tabs-top .nav-tabs.nav>li>a,
    [class~=tabs-top] [class~=nav-tabs][class~=nav]>li {
        margin-bottom: 0;
    }
    [class~=tabs-top] [class~=nav-tabs][class~=nav]>li:last-child>a,
    [class~=tabs-top] [class~=nav-tabs][class~=nav] {
        border-bottom-style: solid;
    }
    [class~=tabs-top] [class~=nav-tabs][class~=nav] {
        border-right-style: solid;
    }
    [class~=tabs-top] [class~=nav-tabs][class~=nav] {
        border-top-style: solid;
    }
    [class~=tabs-top] [class~=nav-tabs][class~=nav] {
        border-left-color: #eaeaea;
    }
    [class~=tabs-top] [class~=title_block] {
        float: none !important;
    }
    [class~=tabs-top] [class~=nav-tabs][class~=nav] {
        border-right-color: #eaeaea;
    }
    [class~=tabs-top] [class~=nav-tabs][class~=nav] {
        border-top-color: #eaeaea;
    }
    [class~=tabs-top] [class~=nav-tabs][class~=nav] {
        border-image: none;
    }
    [class~=tabs-top][class~=accordion-info] [class~=nav-tabs],
    [class~=tabs-top] [class~=nav-tabs][class~=nav]>li,
    .tabs-top .nav-tabs.nav>li>a {
        margin-top: 0;
    }
    [class~=tabs-top] [class~=nav-tabs][class~=nav]>li:last-child>a {
        border-bottom-color: transparent;
    }
    [class~=tabs-top] [class~=nav-tabs][class~=nav]>li:last-child>a {
        border-image: none;
    }
    .rtl .tabs-top .nav-tabs.nav>li>a {
        text-align: right;
    }
}

@media (max-width: 480px) {
    [class~=home-1] [class~=tiva-slideshow-wrapper] [class~=tiva-caption] {
        display: none;
    }
    .post-tag .post-tag-lr,
    [class~=blog-posts] [class~=post-meta-lr] {
        text-align: center;
    }
    .post-tag .post-tag-lr,
    #subcategories [class~=scene_cat] img,
    .block-newsletter form,
    [class~=blog-posts] [class~=post-meta-lr] {
        width: 100%;
    }
    [class~=sort] form {
        margin-bottom: .104166667in;
    }
    [class~=home-3] #btn-menu {
        position: relative;
    }
    [class~=home-3] [class~=block-newsletter] form [class~=btn] {
        padding-left: 11.25pt;
    }
    .home-2 .header-topbar .services-item,
    [class~=home-2] [class~=header-topbar] [class~=services-items] {
        padding-left: 0;
    }
    [class~=blog-posts] [class~=post-meta-lr],
    .post-tag .post-tag-lr {
        float: none;
    }
    [class~=rtl] [class~=sort] select {
        margin-left: 0;
    }
    [class~=sort] form {
        float: left !important;
    }
    [class~=rtl] [class~=sort] select {
        margin-right: inherit;
    }
    [class~=post-tag] [class~=post-tag-left],
    [class~=blog-posts] [class~=post-meta-left] {
        margin-bottom: .9375pc;
    }
    [class~=home-2] [class~=header-topbar] [class~=services-items] {
        padding-bottom: .041666667in;
    }
    [class~=home-3] [class~=block-newsletter] form [class~=btn] {
        padding-bottom: 0;
    }
    .home-2 .header-topbar .services-item,
    [class~=home-2] [class~=header-topbar] [class~=services-items] {
        padding-right: 0;
    }
    [class~=home-2] [class~=header-topbar] [class~=services-items] {
        padding-top: .041666667in;
    }
    [class~=rtl] [class~=home-3] #btn-menu,
    .sort select {
        margin-right: 0;
    }
    .home-2 .header-topbar .services-item {
        padding-bottom: 1.5pt;
    }
    [class~=tiva-popup-screen] [class~=popup] form {
        padding-left: 15pt;
    }
    [class~=rtl] [class~=home-3] #btn-menu {
        margin-left: inherit;
    }
    .home-2 .header-topbar .services-item {
        padding-top: 1.5pt;
    }
    [class~=blog-author] [class~=author-avatar] {
        width: 70px;
    }
    [class~=home-3] [class~=block-newsletter] form [class~=btn] {
        padding-right: 11.25pt;
    }
    .home-2 .header-topbar .services-item {
        line-height: .15625in;
    }
    [class~=home-3] [class~=block-newsletter] form [class~=btn] {
        padding-top: 0;
    }
    .blog-author .author-content {
        padding-left: .104166667in;
    }
    .home-2 .header-topbar .services-item {
        font-size: .75pc;
    }
    .blog-author .author-content,
    [class~=tiva-popup-screen] [class~=popup] form {
        padding-bottom: 1.25pc;
    }
    [class~=home-3] [class~=topheader-navholder] [class~=logo] {
        margin-left: auto !important;
    }
    .blog-author .author-content {
        padding-right: .104166667in;
    }
    [class~=home-3] [class~=topheader-navholder] [class~=logo] {
        margin-bottom: 0 !important;
    }
    .sort label {
        min-width: 52.5pt;
    }
    .blog-author .author-content,
    [class~=tiva-popup-screen] [class~=popup] form {
        padding-top: 1.25pc;
    }
    .home-2 .block-callus,
    [class~=home-2] [class~=header-main] {
        margin-left: 0;
    }
    [class~=tiva-popup-screen] [class~=popup] form {
        padding-right: 15pt;
    }
    [class~=home-2] [class~=header-main] {
        margin-bottom: 22.5pt;
    }
    [class~=home-2] [class~=header-main],
    .home-2 .block-callus {
        margin-right: 0;
    }
    [class~=home-3] [class~=topheader-navholder] [class~=logo] {
        margin-right: auto !important;
    }
    [class~=home-3] [class~=topheader-navholder] [class~=logo] {
        margin-top: 0 !important;
    }
    [class~=home-3] #btn-menu {
        top: 5.1875pc;
    }
    [class~=home-3] [class~=topheader-navholder] [class~=logo] {
        z-index: 998;
    }
    [class~=home-3] [class~=topheader-navholder] [class~=logo] {
        top: .260416667in;
    }
    .home-3 #top-header.top-header-fixed {
        position: inherit;
    }
    [class~=home-3] [class~=topheader-navholder] [class~=logo] {
        right: 0;
    }
    [class~=home-3] [class~=topheader-navholder] [class~=logo] {
        left: 0 !important;
    }
    [class~=home-2] [class~=header-main] {
        margin-top: 15pt;
    }
    .home-2 .block-callus,
    [class~=home-3] [class~=topheader-navholder] [class~=logo] {
        text-align: center;
    }
    [class~=home-3] #btn-menu {
        z-index: 999;
    }
    .home-2 .block-callus {
        margin-bottom: 15px;
    }
    .home-2 .block-callus {
        margin-top: 0;
    }
    .home-2 .block-callus {
        float: none;
    }
    .home-2 .block-callus {
        width: 100%;
    }
    [class~=home-3] [class~=dropdown-over] [class~=dropdown-title] {
        margin-top: 15px;
    }
    [class~=home-3] #btn-menu {
        line-height: 35px;
    }
    #subcategories [class~=scene_cat] img {
        display: inline-block;
    }
    .home-3 #top-header.top-header-fixed {
        background-color: #333;
    }
    [class~=home-3] #btn-menu {
        margin-left: 0;
    }
}

@media (max-width: 479px) {
    [class~=rtl] [class~=block-cart] [class~=dropdown-content] {
        left: 0;
    }
    [class~=rtl] [class~=block-cart] [class~=dropdown-content],
    [class~=rtl] [class~=home-3] [class~=block-search] [class~=dropdown-content],
    [class~=rtl] [class~=block-search] [class~=dropdown-content] {
        right: auto;
    }
    [class~=comments-area] [class~=comments-list] [class~=reply-link],
    #quantity_wanted_p label,
    #attributes [class~=attribute_fieldset] label {
        width: 100%;
    }
    [class~=rtl] [class~=block-search] [class~=dropdown-content] {
        left: -.46875in;
    }
    #top-header[class~=top-header-fixed] {
        padding-left: .15625in;
    }
    #attributes [class~=attribute_fieldset] label,
    #quantity_wanted_p label {
        min-width: inherit;
    }
    #top-header[class~=top-header-fixed] {
        padding-bottom: 0;
    }
    #top-header[class~=top-header-fixed] {
        padding-right: .15625in;
    }
    #top-header[class~=top-header-fixed] {
        padding-top: 0;
    }
    [class~=rtl] [class~=comments-area] [class~=comments-list]>li ol {
        margin-right: 22.5pt;
    }
    .block-cart .dropdown-content,
    [class~=block-search] [class~=dropdown-content] {
        min-width: 217.5pt;
    }
    [class~=comments-area] [class~=comments-list] [class~=reply-link] {
        float: none;
    }
    .block-cart .dropdown-content {
        right: 0;
    }
    [class~=block-search] [class~=dropdown-content] {
        right: -.46875in;
    }
    [class~=rtl] [class~=comments-area] [class~=comments-list]>li ol {
        margin-left: inherit;
    }
    [class~=rtl] [class~=home-3] [class~=block-search] [class~=dropdown-content] {
        left: -7pc;
    }
    [class~=home-3] [class~=block-search] [class~=dropdown-content] {
        right: -112px;
    }
    #thumbs_list {
        width: 18.125pc;
    }
    [class~=comments-area] [class~=comments-list]>li ol {
        margin-left: 30px;
    }
}

@media (max-width: 375px) {
    [class~=home-3] [class~=block-newsletter] form [class~=btn] {
        padding-left: .9375pc;
    }
    [class~=home-3] [class~=block-newsletter] form [class~=btn] {
        padding-bottom: 0;
    }
    [class~=home-3] [class~=block-newsletter] form [class~=btn] {
        padding-right: .9375pc;
    }
    [class~=home-3] [class~=block-newsletter] form [class~=btn] {
        padding-top: 0;
    }
    [class~=home-2] [class~=block-search] [class~=dropdown-content] {
        right: -.979166667in;
    }
    [class~=rtl] [class~=home-2] [class~=block-search] [class~=dropdown-content] {
        left: -70.5pt;
    }
    [class~=rtl] [class~=home-2] [class~=block-search] [class~=dropdown-content] {
        right: auto;
    }
}

@media (max-width: 320px) {
    [class~=rtl] [class~=home-2] [class~=block-cart] [class~=dropdown-content] {
        left: -53px;
    }
    [class~=rtl] [class~=home-2] [class~=block-cart] [class~=dropdown-content],
    [class~=rtl] [class~=home-2] [class~=block-search] [class~=dropdown-content] {
        right: auto;
    }
    [class~=rtl] [class~=home-2] [class~=block-search] [class~=dropdown-content] {
        left: -97.5pt;
    }
    [class~=home-2] [class~=dropdown-over] [class~=dropdown-title] {
        padding-left: 2.25pt;
    }
    [class~=home-2] [class~=dropdown-over] [class~=dropdown-title] {
        padding-bottom: .25pc;
    }
    [class~=home-2] [class~=dropdown-over] [class~=dropdown-title] {
        padding-right: 2.25pt;
    }
    [class~=home-2] [class~=dropdown-over] [class~=dropdown-title] {
        padding-top: .3125pc;
    }
    [class~=home-2] [class~=block-cart] [class~=dropdown-content] {
        right: -53px;
    }
    [class~=home-2] [class~=block-search] [class~=dropdown-content] {
        right: -97.5pt;
    }
}