[class~=effectbanner]:after,
[class~=effectbanner]>[class~=image-wrap]:before,
[class~=effectbanner]:before,
[class~=effectbanner]>[class~=image-wrap]:after,
[class~=effect]>[class~=image-wrap]:after,
[class~=effect]>[class~=image-wrap]:before {
    position: absolute;
}

[class~=effectbanner]>[class~=image-wrap]:after,
[class~=effectbanner]:after,
[class~=effect]>[class~=image-wrap]:after,
[class~=effect]>[class~=image-wrap]:before,
[class~=effectbanner]:before,
[class~=effectbanner]>[class~=image-wrap]:before {
    content: "";
}

[class~=effect]>[class~=image-wrap]:before {
    top: 0;
}

[class~=effect]>[class~=image-wrap]:before {
    left: 0;
}

[class~=effect]>[class~=image-wrap] {
    position: relative;
}

[class~=effect]>[class~=image-wrap]:after,
[class~=effect]>[class~=image-wrap]:before {
    width: 0;
}

.effect>.image-wrap:hover:before,
[class~=effect]>[class~=image-wrap]:hover:after {
    width: 100%;
}

[class~=effect]>[class~=image-wrap]:after,
[class~=effect]>[class~=image-wrap]:before {
    height: 0;
}

[class~=effect]>[class~=image-wrap]:before {
    margin-left: auto;
}

[class~=effect]>[class~=image-wrap]:before {
    margin-bottom: auto;
}

[class~=effect]>[class~=image-wrap]:before {
    margin-right: auto;
}

.effect>.image-wrap:hover:before,
[class~=effect]>[class~=image-wrap]:hover:after {
    height: 100%;
}

[class~=effect]>[class~=image-wrap]:before {
    margin-top: auto;
}

[class~=effect]>[class~=image-wrap]:before {
    background-color: white;
}

[class~=effect]>[class~=image-wrap]:before {
    background-color: rgba(255, 255, 255, .3);
}

[class~=effectbanner]>[class~=image-wrap]:before,
[class~=effectbanner]:before,
[class~=effectbanner]:after,
[class~=effectbanner]>[class~=image-wrap]:after {
    display: block;
}

[class~=effect]>[class~=image-wrap]:before {
    background-color: transparent;
}

[class~=effect]>[class~=image-wrap]:after,
[class~=effect]>[class~=image-wrap]:before {
    zoom: 1;
}

[class~=effect]>[class~=image-wrap]:after,
[class~=effect]>[class~=image-wrap]:before {
    -webkit-transition: all .3s ease-out 0s;
}

[class~=effectbanner]:before,
[class~=effectbanner]>[class~=image-wrap]:after,
[class~=effectbanner]>[class~=image-wrap]:before,
[class~=effectbanner]:after {
    z-index: 1;
}

[class~=effect]>[class~=image-wrap]:before,
[class~=effect]>[class~=image-wrap]:after {
    transition: all .3s ease-out 0s;
}

[class~=effectbanner]>[class~=image-wrap]:after,
[class~=effectbanner]:before,
[class~=effectbanner]>[class~=image-wrap]:before,
[class~=effectbanner]:after {
    -webkit-transition: all .5s ease-in-out;
}

[class~=effectbanner]>[class~=image-wrap]:before,
[class~=effectbanner]:after,
[class~=effectbanner]:before,
[class~=effectbanner]>[class~=image-wrap]:after {
    transition: all .5s ease-in-out;
}

[class~=effect]>[class~=image-wrap]:after {
    right: 0;
}

[class~=effect]>[class~=image-wrap]:after {
    bottom: 0;
}

[class~=effect]>[class~=image-wrap]:after,
[class~=effectbanner]:before {
    background-color: white;
}

.effectbanner>.image-wrap:hover:before,
.rtl .effectbanner>.image-wrap:after {
    left: 7.5pt;
}

[class~=effect]>[class~=image-wrap] {
    display: inherit;
}

[class~=effect]>[class~=image-wrap]:after {
    background-color: rgba(255, 255, 255, .1);
}

[class~=effect]>[class~=image-wrap]:after {
    background-color: transparent;
}

[class~=rtl] [class~=effectbanner]:after {
    right: .625pc;
}

[class~=rtl] [class~=effectbanner]:after {
    left: auto;
}

[class~=effectbanner]>[class~=image-wrap],
[class~=effect]>[class~=image-wrap] {
    max-width: 100%;
}

.rtl .effectbanner>.image-wrap:after {
    right: auto;
}

[class~=effectbanner],
[class~=effectbanner]>[class~=image-wrap] {
    position: relative;
}

[class~=effectbanner]:before,
[class~=effectbanner]>[class~=image-wrap]:before {
    height: .0625pc;
}

[class~=effectbanner]>[class~=image-wrap]:before,
.effectbanner>.image-wrap:hover:after {
    bottom: .104166667in;
}

[class~=effectbanner]>[class~=image-wrap]:before,
[class~=effectbanner]:before {
    left: 50%;
}

[class~=effectbanner]>[class~=image-wrap]:before,
[class~=effectbanner]:before {
    right: 50%;
}

[class~=effectbanner]:after,
[class~=effectbanner]>[class~=image-wrap]:after,
[class~=effectbanner]>[class~=image-wrap]:before {
    background-color: white;
}

[class~=effectbanner]:before,
.effectbanner>.image-wrap:hover:after {
    top: .625pc;
}

[class~=effectbanner]:after,
[class~=effectbanner]>[class~=image-wrap]:after {
    width: .0625pc;
}

[class~=effectbanner]:after,
[class~=effectbanner]>[class~=image-wrap]:after {
    top: 50%;
}

.effectbanner:hover:before,
[class~=effectbanner]>[class~=image-wrap]:after,
.effectbanner>.image-wrap:hover:before {
    right: .104166667in;
}

[class~=effectbanner]:after,
[class~=effectbanner]>[class~=image-wrap]:after {
    bottom: 50%;
}

.effectbanner:hover:before,
[class~=effectbanner]:after {
    left: .625pc;
}

[class~=effectbanner]:hover:after {
    top: .625pc;
}

[class~=effectbanner]:hover:after {
    bottom: 7.5pt;
}

[class~=effectbanner]>[class~=image-wrap] {
    display: inherit;
}