[class~=post-container] [class~=post-image] a {
    overflow: hidden;
}

.post-container .post-image .post-date,
[class~=post-container] [class~=post-content] [class~=post-meta] [class~=post-user]:after {
    position: absolute;
}

[class~=post-container] [class~=post-image] a:hover img {
    opacity: .7;
}

[class~=rtl] [class~=post-container] [class~=post-image] [class~=post-date] {
    left: 15px;
}

.post-container .post-image .post-date {
    top: 11.25pt;
}

[class~=blog-posts] [class~=post-meta],
[class~=post-container] [class~=post-content],
[class~=blog-posts] [class~=post],
[class~=blog-posts] [class~=post-medium] [class~=post-image] img,
.post-container,
[class~=post-container] [class~=post-content] [class~=post-meta],
[class~=post-meta-lr],
[class~=post-container] [class~=post-image] a {
    width: 100%;
}

[class~=post-meta-lr] span {
    color: #fff;
}

[class~=post-container] [class~=post-content],
[class~=rtl] [class~=blog-posts] [class~=social_block] ul li[class~=last] {
    padding-left: 0;
}

.post-container .post-image a img {
    -webkit-transition: opacity .35s, transform .35s;
}

[class~=rtl] [class~=post-container] [class~=post-image] [class~=post-date] {
    right: auto;
}

[class~=post-container] [class~=post-image] a {
    display: inline-block;
}

[class~=rtl] [class~=post-container],
.rtl .post-container .post-content .post-meta .post-meta-lr {
    float: right;
}

[class~=post-container] [class~=post-content] [class~=post-meta] [class~=post-meta-lr] span {
    color: #aaa;
}

.post-container,
.post-container .post-image .post-date {
    background-color: white;
}

.post-container .post-image .post-date {
    display: block;
}

[class~=rtl] [class~=blog-posts] [class~=social_block] ul li[class~=last] {
    padding-bottom: 0;
}

[class~=blog-posts] h1[class~=title_block],
[class~=post-container] [class~=post-image] [class~=post-date] [class~=month] {
    text-transform: uppercase;
}

[class~=post-container] [class~=post-image] a:hover img {
    filter: alpha(opacity=70);
}

[class~=post-container] [class~=post-content] {
    padding-bottom: .104166667in;
}

.post-container .post-image .post-date {
    padding-left: .6875pc;
}

[class~=post-container] [class~=post-content] h4 {
    margin-bottom: 3.75pt;
}

[class~=post-container] [class~=post-image] [class~=post-date] [class~=month] {
    font-size: 9pt;
}

[class~=post-container] [class~=post-content] {
    padding-right: 0;
}

[class~=post-container] [class~=post-content] {
    padding-top: .104166667in;
}

.post-container,
[class~=post-container] [class~=post-content],
[class~=blog-posts] [class~=post],
[class~=post-container] [class~=post-content] [class~=post-meta] [class~=post-meta-lr] span {
    float: left;
}

[class~=post-container] [class~=post-image] [class~=post-date] [class~=month] {
    line-height: 1pc;
}

.post-container .post-image .post-date {
    padding-bottom: .03125in;
}

.post-container .post-image .post-date {
    padding-right: .6875pc;
}

[class~=post-container] [class~=post-content] [class~=post-meta] [class~=post-user]:after {
    content: "/";
}

[class~=post-meta-lr] span {
    margin-right: .3125pc;
}

.post-container .post-image .post-date {
    padding-top: .03125in;
}

[class~=post-container] [class~=post-image] [class~=post-date] [class~=day] {
    color: #333;
}

[class~=post-container] [class~=post-image] [class~=post-date] [class~=day],
[class~=blog-posts] h1[class~=title_block] {
    font-size: 1.125pc;
}

[class~=post-container] [class~=post-image] a:hover img {
    -webkit-transform: scale3d(1.05, 1.05, 1);
}

[class~=blog-posts] h1[class~=title_block] {
    line-height: 30px;
}

[class~=post-container] [class~=post-content] {
    text-align: left;
}

[class~=rtl] [class~=post-container] [class~=post-content] [class~=post-meta] [class~=post-user] {
    padding-left: 15px;
}

[class~=rtl] [class~=post-meta-lr] span {
    margin-left: 5px;
}

[class~=rtl] [class~=blog-posts] [class~=social_block] ul li[class~=last] {
    padding-right: 6pt;
}

[class~=post-container] [class~=post-image] a:hover img {
    -moz-transform: scale3d(1.05, 1.05, 1);
}

[class~=rtl] [class~=post-meta-lr] span {
    margin-right: inherit;
}

.post-meta-lr a,
[class~=blog-posts] [class~=post-meta] {
    color: white;
}

[class~=rtl] [class~=post-container] [class~=post-content] [class~=post-meta] [class~=post-user] {
    padding-right: inherit;
}

[class~=post-container] [class~=post-content] [class~=post-meta] [class~=post-user]:after {
    top: .03125in;
}

[class~=post-container] [class~=post-content] [class~=post-meta] [class~=post-user]:after {
    font-size: 10px;
}

.post-container .post-image .post-date {
    text-align: center;
}

[class~=blog-posts] [class~=post] {
    margin-bottom: 37.5pt;
}

.single-post .blog-meta span,
[class~=rtl] [class~=comments-area] [class~=comments-list] [class~=cm-meta] [class~=cm-date] {
    padding-right: 20px;
}

[class~=post-meta-lr] a:hover,
[class~=blog-posts] [class~=social_block] ul li a:hover {
    color: #e6c302;
}

.post-container .post-image .post-date {
    right: .9375pc;
}

[class~=blog-posts] [class~=post-medium] [class~=post-image] img {
    display: inline-block;
}

[class~=comments-form] form input {
    height: 2.75pc;
}

[class~=rtl] [class~=blog-posts] [class~=social_block] ul li[class~=last] {
    padding-top: 0;
}

[class~=comments-form] form {
    margin-top: 22.5pt;
}

[class~=rtl] [class~=comments-area] [class~=comments-list] [class~=cm-meta] [class~=cm-date] {
    padding-left: inherit;
}

[class~=rtl] [class~=post-container] [class~=post-content] {
    float: right;
}

[class~=blog-posts] [class~=post-image] {
    margin-bottom: 15pt;
}

[class~=post-container] [class~=post-content] [class~=post-meta] [class~=post-user]:after {
    color: #aaa;
}

[class~=post-container] [class~=post-image] a:hover img {
    -ms-transform: scale3d(1.05, 1.05, 1);
}

[class~=post-meta-lr],
[class~=post-container] [class~=post-content] [class~=post-meta] {
    float: left;
}

[class~=post-container] [class~=post-content] [class~=post-meta] [class~=post-user]:after {
    right: 0;
}

[class~=rtl] [class~=post-container] [class~=post-content] {
    text-align: right;
}

[class~=post-container] [class~=post-content] [class~=post-meta],
[class~=blog-posts] [class~=post-meta] {
    clear: both;
}

[class~=blog-posts] [class~=post-medium] [class~=post-image]:hover img {
    opacity: .7;
}

[class~=blog-search] form {
    border-left-width: .0625pc;
}

.single-post .blog-meta span,
[class~=blog-posts] [class~=post-image] {
    position: relative;
}

[class~=blog-posts] [class~=post-medium] [class~=post-image]:hover img {
    filter: alpha(opacity=70);
}

[class~=post-container] [class~=post-image] a:hover img {
    -o-transform: scale3d(1.05, 1.05, 1);
}

[class~=blog-posts] [class~=social_block] ul li [class~=fa] {
    font-size: 15px;
}

[class~=blog-posts] [class~=social_block] ul li[class~=last] {
    padding-left: .5pc;
}

[class~=blog-posts] [class~=post-medium] [class~=post-image]:hover img {
    -webkit-transform: scale(1.1);
}

[class~=blog-posts] [class~=post-meta] {
    position: absolute;
}

[class~=blog-posts] [class~=post-meta] {
    bottom: 0;
}

[class~=blog-search] form,
[class~=blog-posts] [class~=post][class~=post-large] {
    border-bottom-width: .0625pc;
}

.single-post .blog-meta span {
    margin-right: 10px;
}

[class~=blog-detail] [class~=post-tag-left] strong {
    color: black;
}

.post-container .post-image a img {
    transition: opacity .35s, transform .35s;
}

[class~=blog-posts] [class~=post-meta] {
    padding-left: 15pt;
}

[class~=blog-posts] [class~=post-meta] {
    padding-bottom: .5pc;
}

[class~=blog-posts] [class~=social_block] ul li a,
[class~=blog-detail] [class~=post-tag-left] a {
    color: #666;
}

[class~=blog-posts] [class~=post-meta] {
    padding-right: 15pt;
}

[class~=blog-detail] [class~=post-tag-left] a {
    margin-left: 5.25pt;
}

[class~=post-container] [class~=post-image] [class~=post-date] [class~=day] {
    font-weight: 500;
}

[class~=blog-posts] [class~=post-medium] [class~=post-image]:hover img {
    -moz-transform: scale(1.1);
}

[class~=blog-posts] [class~=social_block],
[class~=blog-detail] [class~=post-tag-left] a {
    margin-bottom: 0;
}

[class~=blog-detail] [class~=post-tag-left] a {
    margin-right: 5.25pt;
}

[class~=blog-posts] [class~=social_block] ul li[class~=last] {
    padding-bottom: 0;
}

[class~=blog-posts] [class~=post-meta] {
    padding-top: .5pc;
}

[class~=rtl] [class~=post-container] [class~=post-content] [class~=post-meta],
[class~=rtl] [class~=blog-posts] [class~=post],
[class~=rtl] [class~=post-container] [class~=post-content] [class~=post-meta] [class~=post-meta-lr] span {
    float: right;
}

[class~=blog-detail] [class~=post-tag-left] a,
[class~=blog-posts] [class~=social_block] {
    margin-top: 0;
}

[class~=blog-posts] [class~=post-medium] [class~=post-image]:hover img {
    -ms-transform: scale(1.1);
}

[class~=blog-posts] [class~=post-meta] {
    background-color: #333;
}

[class~=comments-area] {
    margin-bottom: 40px;
}

[class~=blog-posts] [class~=post-meta] {
    background-color: rgba(51, 51, 51, .54);
}

[class~=comments-form] form [class~=form-control],
[class~=blog-search] form {
    border-right-width: .0625pc;
}

[class~=comments-form] form [class~=form-control],
[class~=blog-search] form {
    border-top-width: .0625pc;
}

[class~=blog-posts] [class~=post-meta] {
    background-color: transparent;
}

[class~=post-container] [class~=post-image] [class~=post-date] [class~=day] {
    line-height: 1.125pc;
}

[class~=blog-posts] [class~=social_block] ul li[class~=last],
[class~=comments-area] [class~=comments-list]>li {
    padding-right: 0;
}

[class~=blog-posts] [class~=post-meta] {
    zoom: 1;
}

[class~=comments-area] [class~=comments-list]>li,
[class~=rtl] [class~=blog-detail] [class~=social_block] ul li[class~=last] {
    padding-left: 0;
}

[class~=blog-posts] [class~=post-medium] [class~=post-image]:hover img {
    -o-transform: scale(1.1);
}

[class~=comments-form] form [class~=form-control],
[class~=blog-search] form {
    border-left-style: solid;
}

[class~=comments-area] [class~=comments-list]>li {
    padding-bottom: .208333333in;
}

[class~=blog-posts] [class~=post-meta],
[class~=post-container] [class~=post-content] [class~=post-meta] [class~=post-meta-lr] {
    float: left;
}

[class~=blog-posts] [class~=post][class~=post-large] {
    padding-bottom: .416666667in;
}

[class~=comments-area] [class~=comments-list]>li {
    padding-top: .208333333in;
}

[class~=blog-posts] [class~=social_block] {
    margin-left: 0;
}

[class~=comments-form] form [class~=form-group] {
    margin-bottom: 18.75pt;
}

[class~=post-container] [class~=post-content] [class~=post-meta] [class~=post-meta-lr] {
    width: 100%;
}

[class~=blog-posts] [class~=post][class~=post-large],
[class~=blog-search] form,
[class~=comments-form] form [class~=form-control] {
    border-bottom-style: solid;
}

[class~=comments-form] form [class~=form-control] {
    border-left-width: .010416667in;
}

[class~=comments-form] form [class~=form-control],
[class~=blog-posts] [class~=post][class~=post-large] {
    border-bottom-color: #eaeaea;
}

[class~=blog-posts] [class~=post][class~=post-large] {
    border-image: none;
}

[class~=blog-posts] [class~=post-content] [class~=title_block] {
    line-height: 1.625pc;
}

[class~=comments-form] form [class~=form-control] {
    border-bottom-width: .010416667in;
}

[class~=blog-search] form,
[class~=comments-form] form [class~=form-control] {
    border-right-style: solid;
}

.comments-area .comments-list .cm-meta .cm-date:before {
    position: absolute;
}

[class~=post-container] [class~=post-content] [class~=post-meta] [class~=post-meta-lr],
[class~=blog-posts] [class~=post-content] [class~=title_block] {
    margin-bottom: 11.25pt;
}

[class~=blog-posts] [class~=social_block] {
    margin-right: 0;
}

[class~=blog-posts] [class~=social_block] ul li[class~=last] {
    padding-top: 0;
}

[class~=blog-posts] [class~=post-content] [class~=title_block],
[class~=blog-detail] [class~=title_block],
[class~=post-container] [class~=post-content] h4 a {
    font-weight: 600;
}

[class~=blog-detail] [class~=social_block] ul li [class~=fa],
[class~=blog-posts] [class~=post-content] [class~=title_block] {
    font-size: .15625in;
}

.comments-area .comments-list .cm-meta .cm-date:before {
    content: "";
}

[class~=blog-posts] [class~=post-medium] {
    margin-bottom: 37.5pt;
}

[class~=blog-posts] [class~=post-medium] {
    text-align: left;
}

[class~=comments-form] form [class~=form-control],
[class~=blog-search] form {
    border-top-style: solid;
}

.comments-area .comments-list .cm-meta .cm-date:before {
    top: 9px;
}

[class~=rtl] [class~=single-post] [class~=blog-meta] span:after {
    left: 0;
}

[class~=rtl] [class~=single-post] [class~=blog-meta] span:after {
    right: auto;
}

[class~=comments-form] form [class~=form-control] {
    border-left-color: #eaeaea;
}

[class~=rtl] [class~=comments-area] [class~=comments-list] [class~=cm-meta] [class~=cm-date] {
    margin-right: 7.5pt;
}

[class~=blog-posts] [class~=post-content] [class~=des],
[class~=blog-detail] [class~=blog-image] {
    margin-bottom: 20px;
}

[class~=comments-form] form [class~=form-control] {
    border-right-color: #eaeaea;
}

[class~=rtl] [class~=post-meta-lr],
[class~=rtl] [class~=blog-posts] [class~=post-meta] {
    float: right;
}

[class~=blog-search] form {
    border-left-color: #ddd;
}

[class~=blog-detail] [class~=blog-image],
[class~=post-container] [class~=post-content] [class~=post-meta] [class~=post-user] {
    position: relative;
}

.comments-area .comments-list .cm-meta .cm-date:before {
    width: .052083333in;
}

[class~=blog-detail] [class~=title_block],
[class~=blog-posts] [class~=post-large] [class~=post-content] [class~=title_block] {
    font-size: 18px;
}

[class~=single-post] [class~=blog-meta] span:last-child:after {
    content: none;
}

[class~=comments-form] form [class~=form-control] {
    border-top-color: #eaeaea;
}

[class~=blog-posts] [class~=post-content] [class~=btn-readmore] {
    font-weight: 400;
}

[class~=blog-search] form {
    border-bottom-color: #ddd;
}

[class~=blog-detail] [class~=title_block] {
    margin-bottom: .104166667in;
}

[class~=comments-form] form [class~=form-control] {
    border-image: none;
}

.comments-area .comments-list .cm-meta .cm-date:before {
    height: .052083333in;
}

.comments-area .comments-list .cm-meta .cm-date:before {
    background-color: #ccc;
}

[class~=comments-form] form textarea {
    height: 11.25pc;
}

[class~=blog-detail] [class~=post-meta] {
    position: absolute;
}

[class~=blog-search] form {
    border-right-color: #ddd;
}

[class~=rtl] [class~=comments-area] [class~=comments-list] [class~=cm-meta] [class~=cm-date] {
    margin-left: inherit;
}

.comments-area .comments-list .cm-meta .cm-date:before {
    -webkit-transform: rotate(45deg);
}

[class~=comments-form] form [class~=form-control] {
    -webkit-box-shadow: none;
}

[class~=blog-detail] [class~=post-meta] {
    bottom: 0;
}

[class~=blog-detail] [class~=post-meta],
[class~=blog-posts] [class~=content_sortPagiBar][class~=bottom] {
    width: 100%;
}

[class~=comments-form] form [class~=form-control] {
    box-shadow: none;
}

[class~=comments-form] form [class~=form-control] {
    -webkit-border-radius: 0;
}

[class~=blog-detail] [class~=post-meta] {
    clear: both;
}

.comments-area .comments-list .cm-meta .cm-date:before {
    -moz-transform: rotate(45deg);
}

[class~=blog-detail] [class~=social_block] ul li[class~=last],
[class~=rtl] [class~=blog-detail] [class~=social_block] ul li[class~=last] {
    padding-bottom: 0;
}

[class~=blog-detail] [class~=social_block] ul li[class~=last] {
    padding-left: 8px;
}

[class~=blog-detail] [class~=post-meta] {
    color: white;
}

[class~=comments-form] form [class~=form-control] {
    -moz-border-radius: 0;
}

[class~=blog-detail] [class~=post-meta] {
    padding-left: .208333333in;
}

[class~=blog-detail] [class~=post-meta] {
    padding-bottom: 8px;
}

[class~=blog-search] form {
    border-top-color: #ddd;
}

.comments-area .comments-list .cm-meta .cm-date:before {
    -ms-transform: rotate(45deg);
}

[class~=blog-detail] [class~=post-meta] {
    padding-right: .208333333in;
}

[class~=blog-search] form {
    border-image: none;
}

[class~=blog-detail] [class~=post-meta],
[class~=blog-posts] [class~=content_sortPagiBar][class~=bottom] {
    float: left;
}

[class~=post-container] [class~=post-content] [class~=post-meta] [class~=post-user] {
    padding-right: 11.25pt;
}

[class~=comments-form] form [class~=form-control] {
    -ms-border-radius: 0;
}

[class~=comments-form] form [class~=form-control] {
    -o-border-radius: 0;
}

[class~=post-container] [class~=post-content] h4 a {
    line-height: .1875in;
}

[class~=comments-form] form [class~=form-control] {
    border-radius: 0;
}

[class~=blog-detail] [class~=post-meta] {
    padding-top: 8px;
}

[class~=blog-detail] [class~=post-meta] {
    background-color: #333;
}

[class~=blog-search] input {
    border-left-width: medium;
}

.blog-posts .post-medium .post-meta,
[class~=blog-search] input {
    border-bottom-width: medium;
}

[class~=comments-form] form [class~=btn] {
    padding-left: .3125in;
}

[class~=rtl] [class~=blog-posts] [class~=content_sortPagiBar][class~=bottom] {
    float: right;
}

[class~=blog-search] input {
    border-right-width: medium;
}

.rtl .comments-area .comments-list .cm-avatar {
    margin-left: .260416667in;
}

.comments-area .comments-list .cm-meta .cm-date:before {
    -o-transform: rotate(45deg);
}

[class~=rtl] [class~=blog-posts] [class~=post-medium] {
    text-align: right;
}

.comments-area .comments-list .cm-meta .cm-date:before,
[class~=rtl] [class~=post-container] [class~=post-content] [class~=post-meta] [class~=post-user]:after {
    left: 0;
}

[class~=comments-form] form [class~=btn] {
    padding-bottom: .5625pc;
}

[class~=blog-detail] [class~=post-meta] {
    background-color: rgba(51, 51, 51, .54);
}

[class~=comments-form] form [class~=btn] {
    padding-right: .3125in;
}

[class~=comments-form] form [class~=btn] {
    padding-top: .5625pc;
}

.blog-posts .post-medium .post-meta {
    margin-top: 0;
}

[class~=blog-detail] [class~=post-tag],
[class~=blog-detail] [class~=social_block] ul li[class~=last] {
    padding-right: 0;
}

.rtl .comments-area .comments-list .cm-avatar {
    margin-right: inherit;
}

[class~=blog-detail] [class~=post-meta] {
    background-color: transparent;
}

[class~=blog-detail] [class~=social_block] ul li[class~=last] {
    padding-top: 0;
}

[class~=blog-search] input {
    border-top-width: medium;
}

[class~=single-post] [class~=blog-meta] span:after {
    position: absolute;
}

[class~=comments-form] form [class~=btn],
[class~=comments-area] [class~=comments-list] [class~=cm-meta] [class~=link-author] {
    text-transform: uppercase;
}

[class~=blog-detail] [class~=post-meta] {
    zoom: 1;
}

[class~=rtl] [class~=comments-area] [class~=comments-list]>li ol {
    margin-right: 95px;
}

[class~=comments-area] [class~=comments-list] [class~=cm-meta] [class~=cm-date] {
    position: relative;
}

[class~=blog-search] input,
.blog-posts .post-medium .post-meta {
    border-bottom-style: none;
}

.blog-search button:hover,
[class~=comments-area] [class~=comments-list] [class~=reply-link]:hover {
    color: #e6c302;
}

[class~=comments-area] [class~=comments-list]>li ol li {
    padding-top: .416666667in;
}

.blog-search button:hover {
    background-color: transparent;
}

[class~=comments-area] [class~=comments-list] [class~=cm-meta] [class~=cm-date] {
    padding-left: 1.25pc;
}

[class~=rtl] [class~=post-container] [class~=post-content] [class~=post-meta] [class~=post-user]:after {
    right: auto;
}

[class~=comments-area] [class~=comments-list] [class~=cm-meta] [class~=cm-date] {
    margin-left: .104166667in;
}

[class~=blog-detail] [class~=post-content] {
    line-height: .291666667in;
}

[class~=blog-detail] [class~=post-content] {
    margin-bottom: 2.1875pc;
}

[class~=blog-detail] [class~=post-content] {
    text-align: justify;
}

[class~=blog-detail] [class~=post-tag] {
    padding-left: 0;
}

.blog-search button:hover {
    border-left-color: transparent;
}

.blog-posts .post-medium .post-meta,
[class~=blog-search] input {
    border-bottom-color: currentColor;
}

[class~=blog-search] input {
    border-left-style: none;
}

[class~=blog-detail] [class~=post-tag] {
    padding-bottom: 11.25pt;
}

.comments-form,
[class~=blog-detail] [class~=post-tag] {
    margin-bottom: 30pt;
}

.blog-search button:hover {
    border-bottom-color: transparent;
}

.blog-search button:hover {
    border-right-color: transparent;
}

.blog-search button:hover {
    border-top-color: transparent;
}

[class~=tiva-postslist] [class~=owl-theme] [class~=owl-controls] [class~=owl-nav] div {
    top: 38%;
}

[class~=blog-detail] [class~=post-tag] {
    padding-top: 11.25pt;
}

[class~=blog-search] input {
    border-right-style: none;
}

[class~=rtl] [class~=comments-area] [class~=comments-list]>li ol {
    margin-left: inherit;
}

.blog-posts .post-medium .post-meta {
    border-image: none;
}

[class~=blog-detail] [class~=post-tag-lr],
[class~=rtl] [class~=comments-area] [class~=comments-list] [class~=reply-link] {
    float: left;
}

[class~=rtl] [class~=comments-area] [class~=comments-list] [class~=reply-link] [class~=fa] {
    margin-left: .3125pc;
}

.rtl .comments-area .comments-list .cm-meta .cm-date:before {
    right: 0;
}

[class~=blog-detail] [class~=post-tag] {
    border-top-width: .75pt;
}

[class~=blog-posts] [class~=post-medium] [class~=post-image] {
    overflow: hidden;
}

[class~=single-post] [class~=blog-meta] span:after {
    content: "";
}

.rtl .comments-area .comments-list .cm-meta .cm-date:before {
    left: auto;
}

[class~=blog-detail] [class~=post-tag] {
    border-top-style: solid;
}

[class~=comments-area] [class~=comments-list] [class~=reply-link] [class~=fa] {
    margin-right: .3125pc;
}

[class~=blog-detail] [class~=post-tag] {
    border-top-color: #eaeaea;
}

[class~=blog-detail] [class~=post-tag] {
    border-image: none;
}

[class~=blog-posts] [class~=post-medium] [class~=post-image] img {
    -webkit-transition: opacity .35s, transform .35s;
}

.rtl .blog-detail .post-meta,
.rtl .blog-detail .post-tag-lr,
[class~=comments-area] [class~=comments-list] [class~=reply-link] {
    float: right;
}

[class~=blog-detail] [class~=post-tag] {
    border-bottom-width: .0625pc;
}

[class~=blog-detail] [class~=post-tag] {
    border-bottom-style: solid;
}

[class~=blog-detail] [class~=post-tag] {
    border-bottom-color: #eaeaea;
}

[class~=blog-detail] [class~=post-tag-lr] {
    width: 50%;
}

[class~=rtl] [class~=blog-detail] [class~=post-tag-right] {
    text-align: left;
}

[class~=blog-detail] [class~=post-tag-right] {
    text-align: right;
}

[class~=blog-detail] [class~=social_block] {
    margin-left: 0;
}

[class~=rtl] [class~=single-post] [class~=blog-meta] span,
[class~=rtl] [class~=comments-area] [class~=comments-list] [class~=reply-link] [class~=fa] {
    margin-right: inherit;
}

[class~=blog-search] input {
    border-top-style: none;
}

[class~=blog-search] input {
    border-left-color: currentColor;
}

[class~=single-post] [class~=blog-meta] span:after {
    top: .09375in;
}

[class~=blog-detail] [class~=social_block] {
    margin-bottom: 0;
}

[class~=blog-posts] [class~=post-medium] [class~=post-image] img {
    transition: opacity .35s, transform .35s;
}

[class~=blog-detail] [class~=social_block] {
    margin-right: 0;
}

[class~=comments-area] [class~=comments-list] [class~=cm-avatar] {
    margin-right: 1.5625pc;
}

[class~=blog-search] input {
    border-right-color: currentColor;
}

[class~=comments-area] [class~=comments-list] [class~=cm-meta] {
    margin-bottom: 7px;
}

[class~=single-post] [class~=blog-meta] span:after {
    width: .052083333in;
}

[class~=comments-area] [class~=comments-list] [class~=reply-link] {
    color: #666;
}

[class~=blog-search] input {
    border-top-color: currentColor;
}

[class~=blog-search] input {
    border-image: none;
}

[class~=blog-search] input {
    -webkit-border-radius: 0;
}

[class~=blog-detail] [class~=social_block] {
    margin-top: 0;
}

.comments-area .title_block,
[class~=comments-form] [class~=title_block] {
    font-size: 13.5pt;
}

[class~=comments-form] [class~=title_block],
.comments-area .title_block {
    font-weight: 600;
}

.comments-area .title_block,
[class~=comments-form] [class~=title_block] {
    text-transform: uppercase;
}

[class~=blog-search] input {
    -moz-border-radius: 0;
}

[class~=single-post] [class~=blog-meta] span:after {
    height: .3125pc;
}

[class~=single-post] [class~=blog-meta] span:after {
    background-color: #ccc;
}

[class~=single-post] [class~=blog-meta] span:after {
    -webkit-transform: rotate(45deg);
}

[class~=rtl] [class~=blog-detail] [class~=social_block] ul li[class~=last] {
    padding-right: .083333333in;
}

[class~=single-post] [class~=blog-meta] span:after {
    -moz-transform: rotate(45deg);
}

[class~=single-post] [class~=blog-meta] span:after {
    -ms-transform: rotate(45deg);
}

[class~=single-post] [class~=blog-meta] span:after {
    -o-transform: rotate(45deg);
}

[class~=blog-search] input {
    -ms-border-radius: 0;
}

[class~=rtl] [class~=single-post] [class~=blog-meta] span {
    padding-left: .208333333in;
}

[class~=rtl] [class~=blog-detail] [class~=social_block] ul li[class~=last] {
    padding-top: 0;
}

[class~=blog-search] input {
    -o-border-radius: 0;
}

[class~=blog-search] input {
    border-radius: 0;
}

[class~=single-post] [class~=blog-meta] span:after {
    right: 0;
}

[class~=comments-area] [class~=comments-list]>li ol {
    margin-left: .989583333in;
}

[class~=blog-search] input {
    -webkit-box-shadow: none;
}

[class~=rtl] [class~=single-post] [class~=blog-meta] span {
    padding-right: inherit;
}

[class~=blog-search] input {
    box-shadow: none;
}

[class~=blog-search] button {
    background-color: transparent;
}

[class~=rtl] [class~=single-post] [class~=blog-meta] span {
    margin-left: 10px;
}

[class~=blog-detail] [class~=post-tag-left] a:hover {
    color: #e6c302;
}